body
{
    background-color: burlywood;
    text-align: center;
}
h2{
    font-size: 50px;;
}
button
{
    background-color: black;
    color:white;
    padding: 2.5%;
    border: none;
    border-radius: 10%;
    cursor:pointer;
}
.container
{
    background-color: white;
    border-radius: 10px;
}
#error-msg
{
    color:red;
    align-items: center;
}